<fieldset>
  <legend>Gehe zu</legend>
  <div class="control-group">
    <%= f.label(:id_equals, "TS Nr", :class => "control-label") %>
    <div class="controls">
      <%= f.text_field(:id_equals) %>
    </div>
  </div>
</fieldset>