<fieldset>
  <legend>Algemein</legend>
  <div class="control-group">
    <%= f.label(:closed_eq, "Archiv?", :class => "control-label") %>
    <div class="controls">
      <%= f.select(:closed_eq, { 'Nein' => false, 'Ja' => true }, {}, {}) %>
    </div>
  </div>
</fieldset>
