<fieldset>
  <legend>Gewicht</legend>
  <div class="control-group">
    <%= f.label :weight_single, "Gewicht Einzeln", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :weight_single %>
    </div>
  </div>
  
</fieldset>