<fieldset>
  <legend>Produktion</legend>
  
  <div class="control-group">
    <%= f.label :production_status, "Produktion", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :production_status %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :stock_status, "Einlagerung", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :stock_status %>
    </div>
  </div>
  
</fieldset>