<h1>VK-Auftrag NR#<%= @purchase_order.baan_id %></h3>

<% form_for @purchase_order do |f| %>
  <p class="formLabel">
    <%= f.label :delivered, "Versendet?" %>
  </p>
  <p class="formInput">
    <%= f.select(:delivered, { 'Ja'=>true, 'Nein'=>false }) %>
  </p>
  <p class="formInput">
    <%= f.submit("Speichern") %>
  </p>
<% end %>