<ul class="breadcrumb">
  <li>
    <a href="/"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/baan_imports"><i class="icon-folder-open"></i> Baan Import</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/baan_imports/new">Neu</a>
  </li>
</ul>

<div class="page-header">
  <h1>Baan Import <small>Neu</small></h1>
</div>

<%= render 'form' %>