<ul class="breadcrumb">
  <li>
    <a href="/"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/cargo_lists"><i class="icon-folder-open"></i> Versand</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/cargo_lists/new">Neu</a>
  </li>
</ul>

<div class="page-header">
  <h1>Neuen Versand erfassen</h1>
</div>

<%= render 'form' %>