<ul class="breadcrumb">
  <li><a href="<%= time_shiftings_path %>">Terminverschiebungen</a> <span class="divider">/</span></li>
  <li class="active">Neue Terminverschiebung</li>
</ul>

<div class="page-header">
  <h1>Erfasse neue Terminverschiebung</h1>
</div>

<% if @time_shifting.errors.present? %>
  <div class="alert alert-block alert-error">
    <h4 class="alert-heading">Error!</h4>
    <p>
      Damit eine Verschiebung erfasst werden kann müssen folgende Schritte durchgeführt worden sein. Vor der Erfassung bitte überprüfen.
    </p>
    <ol>
      <li>Wurde der Grund der Verschiebung gewählt?</li>
      <li>Wurde die Abteilung gewählt?</li>
    </ol>
  </div>
<% end %>

<div style="margin-bottom: 18px;" class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">VK-Auftrag</a></li>
    <% if @purchase_order.present? %>
      <li class=""><a data-toggle="tab" href="#tab2">VK-Pos</a></li>
      <li class=""><a data-toggle="tab" href="#tab3">Grund</a></li>
      <li class=""><a data-toggle="tab" href="#tab4">Beschaffung</a></li>
      <li class=""><a data-toggle="tab" href="#tab5">Abteilung</a></li>
    <% end %>
  </ul>
    <%= render 'form' %>
</div>

<script type="text/javascript" charset="utf-8">
  $('a[data-toggle="tab-changer"]').click(function(event) {
    event.preventDefault();
    $('.nav-tabs a[href="' + $(this).attr("href") + '"]').tab("show")
  });
</script>