<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Konflikte / Annahme Verweigerung</h1>
</header>

<section class="filter_box">
  <header class="filter_box_header">
    <h4 class="floatLeft">&nbsp;</h4>
    <a href="<%= new_delivery_rejection_path %>" class="header_link" data-role="add" data-show-tooltip="true" title="Konflikt erfassen">
      <span class="header_pack _74"></span>
    </a>
  </header>
  <section class="filter_box_content clearfix">
    <table>
      <thead>
        <tr>
          <th>Konflikt NR</th>
          <th>Grund</th>
          <th>Status</th>
          <th>Anz. Positionen</th>
          <th>Kunde</th>
          <th>Erfasst von</th>
          <th>Erstellt am</th>
        </tr>
      </thead>
      <tbody>
        <%= render @delivery_rejections %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </section>
</section>