body {
  background-color: #5F5F62;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 14px;
  /*color: #211F1E;*/
  color: #474747;
  height: 100%;
}

a img {
  border: none;
}

a {
  
}

h1 {
  padding-bottom: 20px;
  font-size: 20px;
}

img#logo {
  padding-right: 30px;
  padding-top: 30px;
}

.floatLeft {
  float: left;
}
.floatRight{
  float: right;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.bold {
	font-weight: bold;
}
.red {
	background-color: #FCC;
}
.orange_background {
  background-color: #DE7600 !important;
}

.green_background {
  background-color: rgba(112, 171, 2, 1) !important;
}
.status11 {
  background-color: #CCFFCC;
}
.status10 {
  background-color: #B8DFFF;
}
.status00 {
  background-color: #FFCCCC;
}
.red_background {
	background-color: #990000;
	color: #ffffff;
}

.mixed {
	background-color: #990000;
	color: #ffffff;
}

.yellow_background {
	background-color: yellow !important;
}

.white_font {
	color: #fff;
}
a.no_text_decoration {
	text-decoration: none;
}
.margin_bottom_big {
	margin-bottom: 20px;
}
.m-r_5px {
	margin-right: 5px;
}

a.link_button {
	background-color: #F3F3F3;
	padding: 3px;
	color: #333333;
	font-size: 11px;
	border-radius: 2px;
	border-color: #5F5F62;
}

a.blue_link_button {
	background-color: #005D91;
	padding: 3px 7px 3px 7px;
	color: #fff;
	font-size: 12px;
	border-radius: 2px;
	border-color: #5F5F62;
}

section#login {
  overflow: auto;
}
section#loginLeft {

}
section#loginRight {
  overflow: hidden;
  margin-bottom: auto;
  margin-top: 105px;
}
form#new_user_session {
  margin: auto;
  overflow: auto;
  width: 305px;
}
p.formLabel {
  margin-bottom: 8px;
}

p.formInput {
  margin-bottom: 8px;
}

section#pageContainer {
  width: 99%;
  min-width: 91.429em;
  min-height: 500px;
  margin: 0 auto;
  background-color: #FFF;
  border: solid 1px black;
  margin-top: 20px;
}
header#containerHeader {
  border-top: 8px solid #005D91;
}
nav#applicationNavigation {
  padding-top: 30px;
  padding-left: 30px;
}
/*
nav ul li {
  float: left;
  padding: 0 15px 0 0;
}

nav ul li a {
  color: #211F1E;
}
nav ul li a:hover {
  color: #005D91;
}
*/
ul.ul_summary {
padding-bottom: 20px;	
}
ul.ul_summary li.summary {
	padding-bottom: 5px;
}
ul.ul_summary li p.title {
	width: 150px;
}

/******** Form Navigation *********/

nav.form_navigation {
	padding-bottom: 15px;
}
/************ Table ************/

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

table thead {
  line-height: 40px;
  background: #e8e8e8 url("../images/back_header_table.jpg") repeat-x left top;
}

table thead th {
  text-align: left;
  padding: 0 20px;
  border-left: 1px solid #d6d6d6;
  text-transform: capitalize;
  font-weight: bold;
  white-space: nowrap;
}
table thead th:first-child {
  border-left: none;
}

table tbody {
  border-bottom: 1px solid #ddd;
}
                
table tbody tr {
  height: 40px;
  background: #fff;
}

table tbody tr:nth-child(even) {
  height: 40px;
}

table tbody tr:nth-child(odd) {
  height: 40px;
}

table tbody tr input[type="submit"] {
	float:left;
	margin-right: 5px;
}

table td {
  text-align: left;
  padding: 0 10px 0 20px;
  vertical-align: middle;
}

table td.align-center {
	text-align: center;
}
table td.align-right {
  text-align: right;
}
table tfoot td .bulk-actions {
  padding: 15px 0 5px 0;
}
table tfoot td {
  line-height: 40px;
}

table tfoot td .bulk-actions select {
  padding: 4px;
  border: 1px solid #ccc;
}

.table tbody tr:nth-child(2n+1) td, .table tbody tr:nth-child(2n+1) th {
  background-color: #F9F9F9;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #F5F5F5;
}

table a {
  font-weight: bold;
  color: #211F1E;
  text-decoration: none;
}
section#yieldContent {
  padding: 40px 40px;
}
nav.pagination {
  float: right;
  padding: 15px 0 5px;
}
input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
}

/*** Form ELEMENTS ***/
select.xtra-large {
  width: 54.714em;
}

input[type="text"].xtra-large {
  width: 54em;
}

span.checkboxLabel {
  display: inline-block;
  line-height: 17px;
  margin: 0 0 0 5px;
  font-size: 13px;
}

label {
  display: block;
  margin: 0 0 0.5em;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  height: 20px;
}
input[type="text"], input[type="password"] {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  padding: 4px;
}

input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A0A0A0 #B9B9B9 #B9B9B9;
  border-right: 1px solid #B9B9B9;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus {
  border: 1px solid #4D90FE;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  outline: medium none;
}
input[type="email"][disabled="disabled"], input[type="number"][disabled="disabled"], input[type="password"][disabled="disabled"], input[type="tel"][disabled="disabled"], input[type="text"][disabled="disabled"], input[type="url"][disabled="disabled"] {
  background: none repeat scroll 0 0 #F5F5F5;
  border: 1px solid #E5E5E5;
}
input[type="email"][disabled="disabled"]:hover, input[type="number"][disabled="disabled"]:hover, input[type="password"][disabled="disabled"]:hover, input[type="tel"][disabled="disabled"]:hover, input[type="text"][disabled="disabled"]:hover, input[type="url"][disabled="disabled"]:hover {
  box-shadow: none;
}
input[type="email"][readonly="readonly"], input[type="number"][readonly="readonly"], input[type="password"][readonly="readonly"], input[type="text"][readonly="readonly"], input[type="url"][readonly="readonly"] {
  border: 1px solid #D9D9D9;
}
input[type="email"][readonly="readonly"]:hover, input[type="number"][readonly="readonly"]:hover, input[type="password"][readonly="readonly"]:hover, input[type="text"][readonly="readonly"]:hover, input[type="url"][readonly="readonly"]:hover, input[type="email"][readonly="readonly"]:focus, input[type="number"][readonly="readonly"]:focus, input[type="password"][readonly="readonly"]:focus, input[type="text"][readonly="readonly"]:focus, input[type="url"][readonly="readonly"]:focus {
  box-shadow: none;
}
input.form-error[type="checkbox"], input.form-error[type="email"], input.form-error[type="number"], input.form-error[type="password"], input.form-error[type="text"], input.form-error[type="url"] {
  border: 1px solid #DD4B39;
}
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  cursor: pointer;
  height: 13px;
  margin: 0 0 1px 0;
  position: relative;
  vertical-align: bottom;
  width: 13px;
  display: inline-block;
}
input[type="checkbox"]:active, input[type="radio"]:active {
  background: none repeat scroll 0 0 #EBEBEB;
  border-color: #C6C6C6;
}
input[type="checkbox"]:hover {
  border-color: #C6C6C6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="radio"] {
  border-radius: 1em 1em 1em 1em;
  height: 15px;
  width: 15px;
}
input[type="checkbox"]:checked, input[type="radio"]:checked {
  background: none repeat scroll 0 0 #FFFFFF;
}
input[type="radio"]:checked:after {
  background: none repeat scroll 0 0 #666666;
  border-radius: 1em 1em 1em 1em;
  content: "";
  display: block;
  height: 7px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 7px;
}
input[type="checkbox"]:checked:after {
  content: url("//ssl.gstatic.com/ui/v1/menu/checkmark.png");
  display: block;
  left: -5px;
  position: absolute;
  top: -6px;
}
input[type="checkbox"]:focus {
  border-color: #4D90FE;
  outline: medium none;
}

.form-element {
  margin: 0 0 1.5em;
  position: relative;
}
.form-element div {
  margin: 0 0 1em;
}

div.field_with_errors input[type="text"], div.field_with_errors input[type="password"], div.field_with_errors input[type="email"] {
  background-color: #FFD1D1;
  border: 1px solid #F8ACAC;
}

label.checkbox {
  font-weight: normal;
  display: block;
}

input.radio_buttons, input.check_boxes {
  margin-right: 5px;
}

div.field_with_errors input[type="text"] {
  margin-bottom: 0.5em;
}

.hint, .error {
  clear: left;
  margin-bottom: 0.5em;
  font-size: 12px;
  color: #D00;
  display: block;
}
.hint {
  color: #555;
  font-style: italic;
}

.alert-error {
  color: #D00;
  margin-bottom: 10px;
  font-weight: bold;
}
/*** END OF FORM ELEMENTS ***/

/*** SUBMITER ***/
input[type="submit"], a.linkSubmit {
  border-radius: 2px 2px 2px 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  min-width: 54px;
  outline: 0 none;
  padding: 0 8px;
  text-align: center;
}
input[type="submit"]:hover, a.linkSubmit:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
input.blueSubmit[type="submit"] {
  background-color: #4D90FE;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  border: 1px solid #3079ED;
  color: #FFFFFF;
}
input.blueSubmit[type="submit"]:hover {
  background-color: #357AE8;
  background-image: -moz-linear-gradient(center, top, #4D90FE, #357AE8);
  border: 1px solid #2F5BB7;
}
input.greySubmit[type="submit"], a.greySubmit {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444444;
}
input.greySubmit[type="submit"]:hover, a.greySubmit:hover {
  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(center, top, #F8F8F8, #F1F1F1);
  border: 1px solid #C6C6C6;
  color: #333333;
}

a.linkSubmit {
  height: 25px;
  display: inline-block;
  text-decoration: none;
}
/*** END OF SUBMITER ***/


input.styled-text

input.link_button {
	background-color: #F3F3F3;
	padding: 3px;
	color: #333333;
	font-size: 11px;
	border-radius: 2px;
	border-color: #5F5F62;
}

select {
  padding: 4px;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  height: 28px;
  line-height: 28px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
/*
.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
*/
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}

.error_messages p {
  margin: 8px 10px;
}
/*
.error_messages ul {
  margin: 0;
}
*/
.fullWidth {
  width: 100%;
}

.smallTextArea {
  height: 90px;
  resize: none;
}


/*** Box Padders ***/
div.box-padder {
  padding: 25px;
}

div.widgets-padder {
  padding: 10px;
}

/*** Filter Box***/
section.filter_box {
	margin-bottom: 20px;
}
section.filter_box header.filter_box_header {
  background: url("../images/back_h2_box_white.jpg") repeat-x scroll left top #ECECEC;
  border: 1px solid #D8D8D8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*box-shadow: 0 0 2px #DDDDDD;*/
  color: #4D7D18;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0 10px 0 10px;
  text-shadow: 0 1px 0 white;
}

section.filter_box header.filter_box_header h4 {
	color: #595959;
}

section.filter_box section.filter_box_content {
  /*-moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;*/
  background: none repeat scroll 0 0 white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-color: -moz-use-text-color #D8D8D8 #D8D8D8;*/
  /*border-right: 1px solid #D8D8D8;*/
  border: 1px solid #D8D8D8;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  /*box-shadow: 0 2px 2px #DDDDDD;*/
  /*padding: 10px;*/
}

/*** Resource Header ***/
header.resource_header {
}

header.resource_header h1 {
	font-size: 20px;
	padding: 0px;
}

/*** ajax_form ***/

div.formRow {
  margin-bottom: 10px;
}

div.formRow p.ajaxFormLabel {
  float: left;
  width: 40%;
}

div.formRow p.ajaxFormInput {
  float: left;
  width: auto;
}

/*** MOVE out to some where else...***/
.two_third {
  width: 75%;
  float: left;
}
.one_third {
  width: 20em;
  float: right;
}

dt, dd {
    line-height: 18px;
}
dt {
    font-weight: bold;
    line-height: 17px;
}
dd {
    margin-left: 9px;
}
.dl-horizontal dt {
    clear: left;
    float: left;
    text-align: right;
    width: 120px;
}
.dl-horizontal dd {
    margin-left: 130px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.span1 {
  width: 630px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 620px;
}

.span2 {
  width: 312px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 302px;
}

.span3 {
  width: 206px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 196px;
}

.span4 {
  width: 54.714em;
}

.mr6 {
  margin-right: 6px;
}



[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;

}
.icon-white {
  background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-glass              { background-position: 0      0; }
.icon-music              { background-position: -24px  0; }
.icon-search             { background-position: -48px  0; }
.icon-envelope           { background-position: -72px  0; }
.icon-heart              { background-position: -96px  0; }
.icon-star               { background-position: -120px 0; }
.icon-star-empty         { background-position: -144px 0; }
.icon-user               { background-position: -168px 0; }
.icon-film               { background-position: -192px 0; }
.icon-th-large           { background-position: -216px 0; }
.icon-th                 { background-position: -240px 0; }
.icon-th-list            { background-position: -264px 0; }
.icon-ok                 { background-position: -288px 0; }
.icon-remove             { background-position: -312px 0; }
.icon-zoom-in            { background-position: -336px 0; }
.icon-zoom-out           { background-position: -360px 0; }
.icon-off                { background-position: -384px 0; }
.icon-signal             { background-position: -408px 0; }
.icon-cog                { background-position: -432px 0; }
.icon-trash              { background-position: -456px 0; }

.icon-home               { background-position: 0      -24px; }
.icon-file               { background-position: -24px  -24px; }
.icon-time               { background-position: -48px  -24px; }
.icon-road               { background-position: -72px  -24px; }
.icon-download-alt       { background-position: -96px  -24px; }
.icon-download           { background-position: -120px -24px; }
.icon-upload             { background-position: -144px -24px; }
.icon-inbox              { background-position: -168px -24px; }
.icon-play-circle        { background-position: -192px -24px; }
.icon-repeat             { background-position: -216px -24px; }
.icon-refresh            { background-position: -240px -24px; }
.icon-list-alt           { background-position: -264px -24px; }
.icon-lock               { background-position: -287px -24px; }
.icon-flag               { background-position: -312px -24px; }
.icon-headphones         { background-position: -336px -24px; }
.icon-volume-off         { background-position: -360px -24px; }
.icon-volume-down        { background-position: -384px -24px; }
.icon-volume-up          { background-position: -408px -24px; }
.icon-qrcode             { background-position: -432px -24px; }
.icon-barcode            { background-position: -456px -24px; }

.icon-tag                { background-position: 0      -48px; }
.icon-tags               { background-position: -25px  -48px; }
.icon-book               { background-position: -48px  -48px; }
.icon-bookmark           { background-position: -72px  -48px; }
.icon-print              { background-position: -96px  -48px; }
.icon-camera             { background-position: -120px -48px; }
.icon-font               { background-position: -144px -48px; }
.icon-bold               { background-position: -167px -48px; }
.icon-italic             { background-position: -192px -48px; }
.icon-text-height        { background-position: -216px -48px; }
.icon-text-width         { background-position: -240px -48px; }
.icon-align-left         { background-position: -264px -48px; }
.icon-align-center       { background-position: -288px -48px; }
.icon-align-right        { background-position: -312px -48px; }
.icon-align-justify      { background-position: -336px -48px; }
.icon-list               { background-position: -360px -48px; }
.icon-indent-left        { background-position: -384px -48px; }
.icon-indent-right       { background-position: -408px -48px; }
.icon-facetime-video     { background-position: -432px -48px; }
.icon-picture            { background-position: -456px -48px; }

.icon-pencil             { background-position: 0      -72px; }
.icon-map-marker         { background-position: -24px  -72px; }
.icon-adjust             { background-position: -48px  -72px; }
.icon-tint               { background-position: -72px  -72px; }
.icon-edit               { background-position: -96px  -72px; }
.icon-share              { background-position: -120px -72px; }
.icon-check              { background-position: -144px -72px; }
.icon-move               { background-position: -168px -72px; }
.icon-step-backward      { background-position: -192px -72px; }
.icon-fast-backward      { background-position: -216px -72px; }
.icon-backward           { background-position: -240px -72px; }
.icon-play               { background-position: -264px -72px; }
.icon-pause              { background-position: -288px -72px; }
.icon-stop               { background-position: -312px -72px; }
.icon-forward            { background-position: -336px -72px; }
.icon-fast-forward       { background-position: -360px -72px; }
.icon-step-forward       { background-position: -384px -72px; }
.icon-eject              { background-position: -408px -72px; }
.icon-chevron-left       { background-position: -432px -72px; }
.icon-chevron-right      { background-position: -456px -72px; }

.icon-plus-sign          { background-position: 0      -96px; }
.icon-minus-sign         { background-position: -24px  -96px; }
.icon-remove-sign        { background-position: -48px  -96px; }
.icon-ok-sign            { background-position: -72px  -96px; }
.icon-question-sign      { background-position: -96px  -96px; }
.icon-info-sign          { background-position: -120px -96px; }
.icon-screenshot         { background-position: -144px -96px; }
.icon-remove-circle      { background-position: -168px -96px; }
.icon-ok-circle          { background-position: -192px -96px; }
.icon-ban-circle         { background-position: -216px -96px; }
.icon-arrow-left         { background-position: -240px -96px; }
.icon-arrow-right        { background-position: -264px -96px; }
.icon-arrow-up           { background-position: -289px -96px; }
.icon-arrow-down         { background-position: -312px -96px; }
.icon-share-alt          { background-position: -336px -96px; }
.icon-resize-full        { background-position: -360px -96px; }
.icon-resize-small       { background-position: -384px -96px; }
.icon-plus               { background-position: -408px -96px; }
.icon-minus              { background-position: -433px -96px; }
.icon-asterisk           { background-position: -456px -96px; }

.icon-exclamation-sign   { background-position: 0      -120px; }
.icon-gift               { background-position: -24px  -120px; }
.icon-leaf               { background-position: -48px  -120px; }
.icon-fire               { background-position: -72px  -120px; }
.icon-eye-open           { background-position: -96px  -120px; }
.icon-eye-close          { background-position: -120px -120px; }
.icon-warning-sign       { background-position: -144px -120px; }
.icon-plane              { background-position: -168px -120px; }
.icon-calendar           { background-position: -192px -120px; }
.icon-random             { background-position: -216px -120px; }
.icon-comment            { background-position: -240px -120px; }
.icon-magnet             { background-position: -264px -120px; }
.icon-chevron-up         { background-position: -288px -120px; }
.icon-chevron-down       { background-position: -313px -119px; }
.icon-retweet            { background-position: -336px -120px; }
.icon-shopping-cart      { background-position: -360px -120px; }
.icon-folder-close       { background-position: -384px -120px; }
.icon-folder-open        { background-position: -408px -120px; }
.icon-resize-vertical    { background-position: -432px -119px; }
.icon-resize-horizontal  { background-position: -456px -118px; }

.icon-hdd                     { background-position: 0      -144px; }
.icon-bullhorn                { background-position: -24px  -144px; }
.icon-bell                    { background-position: -48px  -144px; }
.icon-certificate             { background-position: -72px  -144px; }
.icon-thumbs-up               { background-position: -96px  -144px; }
.icon-thumbs-down             { background-position: -120px -144px; }
.icon-hand-right              { background-position: -144px -144px; }
.icon-hand-left               { background-position: -168px -144px; }
.icon-hand-up                 { background-position: -192px -144px; }
.icon-hand-down               { background-position: -216px -144px; }
.icon-circle-arrow-right      { background-position: -240px -144px; }
.icon-circle-arrow-left       { background-position: -264px -144px; }
.icon-circle-arrow-up         { background-position: -288px -144px; }
.icon-circle-arrow-down       { background-position: -312px -144px; }
.icon-globe                   { background-position: -336px -144px; }
.icon-wrench                  { background-position: -360px -144px; }
.icon-tasks                   { background-position: -384px -144px; }
.icon-filter                  { background-position: -408px -144px; }
.icon-briefcase               { background-position: -432px -144px; }
.icon-fullscreen              { background-position: -456px -144px; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #eee;

}
legend small {
  font-size: 13.5px;
  color: #999;
}

div.input {
  margin-bottom: 18px;
}

span.hint {
  margin-bottom: 0;
  margin-top: 9px;
}