body {
  background-color: #5F5F62;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #211F1E;
  height: 100%;
}

a img {
  border: none;
}

a {
  
}

h1 {
  padding-bottom: 20px;
  font-size: 20px;
}

img#logo {
  padding-right: 30px;
  padding-top: 30px;
}

.floatLeft {
  float: left;
}
.floatRight{
  float: right;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.bold {
	font-weight: bold;
}
.red {
	background-color: #FCC;
}
.orange_background {
  background-color: #DE7600 !important;
}

.green_background {
  background-color: rgba(112, 171, 2, 1) !important;
}

.red_background {
	background-color: #990000;
	color: #ffffff;
}

.mixed {
	background-color: #990000;
	color: #ffffff;
}

.yellow_background {
	background-color: yellow !important;
}

.white_font {
	color: #fff;
}
a.no_text_decoration {
	text-decoration: none;
}
.margin_bottom_big {
	margin-bottom: 20px;
}
.m-r_5px {
	margin-right: 5px;
}

a.link_button {
	background-color: #F3F3F3;
	padding: 3px;
	color: #333333;
	font-size: 11px;
	border-radius: 2px;
	border-color: #5F5F62;
}

a.blue_link_button {
	background-color: #005D91;
	padding: 3px 7px 3px 7px;
	color: #fff;
	font-size: 12px;
	border-radius: 2px;
	border-color: #5F5F62;
}

section#login {
  overflow: auto;
}
section#loginLeft {

}
section#loginRight {
  overflow: hidden;
  margin-bottom: auto;
  margin-top: 105px;
}
form#new_user_session {
  margin: auto;
  overflow: auto;
  width: 305px;
}
p.formLabel {
  margin-bottom: 8px;
}

p.formInput {
  margin-bottom: 8px;
}

section#pageContainer {
  width: 95%;
  min-width: 91.429em;
  min-height: 500px;
  margin: 0 auto;
  background-color: #FFF;
  border: solid 1px black;
  margin-top: 20px;
}
header#containerHeader {
  border-top: 8px solid #005D91;
}
nav#applicationNavigation {
  padding-top: 30px;
  padding-left: 30px;
}
/*
nav ul li {
  float: left;
  padding: 0 15px 0 0;
}

nav ul li a {
  color: #211F1E;
}
nav ul li a:hover {
  color: #005D91;
}
*/
ul.ul_summary {
padding-bottom: 20px;	
}
ul.ul_summary li.summary {
	padding-bottom: 5px;
}
ul.ul_summary li p.title {
	width: 150px;
}

/******** Form Navigation *********/

nav.form_navigation {
	padding-bottom: 15px;
}
/************ Table ************/

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

table thead {
  line-height: 40px;
  background: #e8e8e8 url("../images/back_header_table.jpg") repeat-x left top;
}

table thead th {
  text-align: left;
  padding: 0 20px;
  border-left: 1px solid #d6d6d6;
  text-transform: capitalize;
  font-weight: bold;
  white-space: nowrap;
}
table thead th:first-child {
  border-left: none;
}

table tbody {
  border-bottom: 1px solid #ddd;
}
                
table tbody tr {
  height: 40px;
  background: #fff;
}

table tbody tr:nth-child(even) {
  background: #f7f7f7;
  height: 40px;
}

table tbody tr:nth-child(odd) {
  background: #FFFFFF;
  height: 40px;
}

table tbody tr input[type="submit"] {
	float:left;
	margin-right: 5px;
}

table td {
  text-align: left;
  padding: 0 10px 0 20px;
  vertical-align: middle;
}

table td.align-center {
	text-align: center;
}
table td.align-right {
  text-align: right;
}
table tfoot td .bulk-actions {
  padding: 15px 0 5px 0;
}
table tfoot td {
  line-height: 40px;
}

table tfoot td .bulk-actions select {
  padding: 4px;
  border: 1px solid #ccc;
} 



table a {
  font-weight: bold;
  color: #211F1E;
  text-decoration: none;
}
section#yieldContent {
  padding: 40px 40px;
}
nav.pagination {
  float: right;
  padding: 15px 0 5px;
}
input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
}

/*** Form ELEMENTS ***/
span.checkboxLabel {
  display: inline-block;
  line-height: 17px;
  margin: 0 0 0 5px;
  font-size: 13px;
}

label {
  display: block;
  margin: 0 0 0.5em;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}
input[type="text"], input[type="password"] {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #C0C0C0 #D9D9D9 #D9D9D9;
  border-radius: 1px 1px 1px 1px;
  border-right: 1px solid #D9D9D9;
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #A0A0A0 #B9B9B9 #B9B9B9;
  border-right: 1px solid #B9B9B9;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus {
  border: 1px solid #4D90FE;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  outline: medium none;
}
input[type="email"][disabled="disabled"], input[type="number"][disabled="disabled"], input[type="password"][disabled="disabled"], input[type="tel"][disabled="disabled"], input[type="text"][disabled="disabled"], input[type="url"][disabled="disabled"] {
  background: none repeat scroll 0 0 #F5F5F5;
  border: 1px solid #E5E5E5;
}
input[type="email"][disabled="disabled"]:hover, input[type="number"][disabled="disabled"]:hover, input[type="password"][disabled="disabled"]:hover, input[type="tel"][disabled="disabled"]:hover, input[type="text"][disabled="disabled"]:hover, input[type="url"][disabled="disabled"]:hover {
  box-shadow: none;
}
input[type="email"][readonly="readonly"], input[type="number"][readonly="readonly"], input[type="password"][readonly="readonly"], input[type="text"][readonly="readonly"], input[type="url"][readonly="readonly"] {
  border: 1px solid #D9D9D9;
}
input[type="email"][readonly="readonly"]:hover, input[type="number"][readonly="readonly"]:hover, input[type="password"][readonly="readonly"]:hover, input[type="text"][readonly="readonly"]:hover, input[type="url"][readonly="readonly"]:hover, input[type="email"][readonly="readonly"]:focus, input[type="number"][readonly="readonly"]:focus, input[type="password"][readonly="readonly"]:focus, input[type="text"][readonly="readonly"]:focus, input[type="url"][readonly="readonly"]:focus {
  box-shadow: none;
}
input.form-error[type="checkbox"], input.form-error[type="email"], input.form-error[type="number"], input.form-error[type="password"], input.form-error[type="text"], input.form-error[type="url"] {
  border: 1px solid #DD4B39;
}
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 1px 1px 1px 1px;
  cursor: pointer;
  height: 13px;
  margin: 0 0 1px 0;
  position: relative;
  vertical-align: bottom;
  width: 13px;
  display: inline-block;
}
input[type="checkbox"]:active, input[type="radio"]:active {
  background: none repeat scroll 0 0 #EBEBEB;
  border-color: #C6C6C6;
}
input[type="checkbox"]:hover {
  border-color: #C6C6C6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
input[type="radio"] {
  border-radius: 1em 1em 1em 1em;
  height: 15px;
  width: 15px;
}
input[type="checkbox"]:checked, input[type="radio"]:checked {
  background: none repeat scroll 0 0 #FFFFFF;
}
input[type="radio"]:checked:after {
  background: none repeat scroll 0 0 #666666;
  border-radius: 1em 1em 1em 1em;
  content: "";
  display: block;
  height: 7px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 7px;
}
input[type="checkbox"]:checked:after {
  content: url("//ssl.gstatic.com/ui/v1/menu/checkmark.png");
  display: block;
  left: -5px;
  position: absolute;
  top: -6px;
}
input[type="checkbox"]:focus {
  border-color: #4D90FE;
  outline: medium none;
}

.form-element {
  margin: 0 0 1.5em;
  position: relative;
}
.form-element div {
  margin: 0 0 1em;
}

div.field_with_errors input[type="text"], div.field_with_errors input[type="password"] {
  background-color: #FFD1D1;
  border: 1px solid #F8ACAC;
}

/*** END OF FORM ELEMENTS ***/

/*** SUBMITER ***/
input[type="submit"], a.linkSubmit {
  border-radius: 2px 2px 2px 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-right: 16px;
  min-width: 54px;
  outline: 0 none;
  padding: 0 8px;
  text-align: center;
}
input[type="submit"]:hover, a.linkSubmit:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
input.blueSubmit[type="submit"] {
  background-color: #4D90FE;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  border: 1px solid #3079ED;
  color: #FFFFFF;
}
input.blueSubmit[type="submit"]:hover {
  background-color: #357AE8;
  background-image: -moz-linear-gradient(center, top, #4D90FE, #357AE8);
  border: 1px solid #2F5BB7;
}
input.greySubmit[type="submit"], a.greySubmit {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444444;
}
input.greySubmit[type="submit"]:hover, a.greySubmit:hover {
  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(center, top, #F8F8F8, #F1F1F1);
  border: 1px solid #C6C6C6;
  color: #333333;
}

a.linkSubmit {
  height: 25px;
  display: inline-block;
  text-decoration: none;
}
/*** END OF SUBMITER ***/


input.styled-text

input.link_button {
	background-color: #F3F3F3;
	padding: 3px;
	color: #333333;
	font-size: 11px;
	border-radius: 2px;
	border-color: #5F5F62;
}

select {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
/*
.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
*/
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}

.error_messages p {
  margin: 8px 10px;
}
/*
.error_messages ul {
  margin: 0;
}
*/
.fullWidth {
  width: 100%;
}

.smallTextArea {
  height: 90px;
  resize: none;
}


/*** Box Padders ***/
div.box-padder {
  padding: 25px;
}

/*** Filter Box***/
section.filter_box {
	margin-bottom: 20px;
}
section.filter_box header.filter_box_header {
  background: url("../images/back_h2_box_white.jpg") repeat-x scroll left top #ECECEC;
  border: 1px solid #D8D8D8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*box-shadow: 0 0 2px #DDDDDD;*/
  color: #4D7D18;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0 0 0 10px;
  text-shadow: 0 1px 0 white;
}

section.filter_box header.filter_box_header h4 {
	color: #666;
}

section.filter_box section.filter_box_content {
  /*-moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;*/
  background: none repeat scroll 0 0 white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-color: -moz-use-text-color #D8D8D8 #D8D8D8;*/
  /*border-right: 1px solid #D8D8D8;*/
  border: 1px solid #D8D8D8;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  /*box-shadow: 0 2px 2px #DDDDDD;*/
  /*padding: 10px;*/
}

/*** Resource Header ***/
header.resource_header {
}

header.resource_header h1 {
	font-size: 20px;
	padding: 0px;
}

/*** ajax_form ***/

div.formRow {
  margin-bottom: 10px;
}

div.formRow p.ajaxFormLabel {
  float: left;
  width: 40%;
}

div.formRow p.ajaxFormInput {
  float: left;
  width: auto;
}

/*** MOVE out to some where else...***/
.two_third {
  width: 75%;
  float: left;
}
.one_third {
  width: 20em;
  float: right;
}