ul.notifications {
  margin: 0;
  padding: 0;
}

ul.notifications li {
  float: left;
  list-style: none outside none;
  text-align: center;
  width: 20%;
}

ul.notifications li div {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top , #F4F4F4 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
  border-color: #E7E7E7 #E7E7E7 #D7D7D7;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #005D91;
  font-size: 20px;
  margin-left: 10px;
  padding: 15px;
}

ul.notifications li div.bad {
  color: #B90000;
}

ul.notifications li:first-child div {
  margin-left: 0;
}

ul.notifications li div:hover {
  background: -moz-linear-gradient(center top , #FAFAFA 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.25);
}

ul.notifications li div span {
  clear: both;
  color: #777777;
  display: block;
  font-size: 13px;
  padding: 2px;
}

ul.notifications li div span.green {
  color: #498835;
  font-size: 14px;
}

ul.notifications li div span.red {
  color: #B90000;
  font-size: 14px;
}

ul.notifications li div span.grey {
    font-size: 14px;
}