<h1>Instruktionen zum setzen eines neuen Passwortes</h1>
<br /><br />

<p>
  Ein Antrag für das setzen eines neuen Passwortes wurde gestellt. Sollte<br />
  dieser Antrag nicht gewollt sein kann diese Mail ignoriert werden.<br />
  Um weiterzufahren bitte auf den Link klicken.<br />
</p>
<br /><br />
<%= link_to "Neues Password setzen", @edit_password_reset_url %>