<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Benutzer</li>
  </ul>
<% end %>

<div class="page-header">
    <h1 class="pull-left">Benutzer <%= @user.username %> bearbeiten</h1>
    <div class="clear"></div>
</div>

<%= render 'form' %>

