<section class="filter_box">
    <header class="filter_box_header clearfix">
      <h4 class="floatLeft">Erstelle neuen Benutzer</h4>
    </header>
    <section class="filter_box_content clearfix">
      <div class="box-padder">
        <%= render 'form' %>
      </div>
    </section>
</section>