<ul class="breadcrumb">
  <li>
    <a href="/"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#"><i class="icon-cog"></i> Verwaltung</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/users"><i class="icon-user"></i> Benutzer</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/users/new">Neu</a>
  </li>
</ul>

<%= render :partial => 'form' %>
