<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li>
      <%= link_to("Users", users_path) %> <span class="divider">/</span>
    </li>
    <li class="active">New</li>
  </ul>
<% end %>

<div class="page-header">
  <h1>User</h1>
</div>

<div class="row-fluid">
  <div class="span11 offset1">
    <%= render 'form' %>
  </div>
</div>