<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Verkaufs Aufträge</h1>
</header>

<div id="flash_error">Zur Zeit werden neue Daten importiert. Einige Funktionen sind während dieser Zeit inaktiv. <%= link_to("Neuer Versuch", purchase_orders_path) %></div>