<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Error - 400</h1>
</header>

<div id="flash_error">Ups... Fehlerhafte eingabe! Klicke <%= link_to("hier", :back) %> um zurück zu kehren.</div>
