<fieldset>
  <legend>Versand</legend>
  <div class="control-group">
    <%= f.label(:shipping_route_id_eq, "Tour", :class => "control-label") %>
    <div class="controls">
      <%= f.collection_select(:shipping_route_id_eq, @shipping_routes, :id, :name, {:include_blank => true}, {"data-foo" => "shipping_routes"}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:warehouse_number_eq, "Versandlager", :class => "control-label") %>
    <div class="controls">
      <%= f.text_field(:warehouse_number_eq) %>
    </div>
  </div>
</fieldset>
