#goto.modal.hide.fade
  = form_tag(search_for_purchase_orders_path, class: 'form-horizontal', method: :get, style: 'margin: 0;') do
    .modal-header
      button.close type='button' data-dismiss='modal' x
      h3 Gehe zu VK-Auftrag
    .modal-body
      .control-group
        = label_tag(:purchase_order_id, 'VK NR', class: 'control-label')
        .controls = text_field_tag(:purchase_order_id)
    .modal-footer
      a.btn href='#' data-dismiss='modal' Abbrechen
      button.btn.btn-primary type='submit' Gehe zu
