/*
 * This is a manifest file that'll be compiled into report.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 */

body {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 10px;
  color: #211F1E;
  height: 100%;
}

h1 {
  padding-bottom: 32px;
  font-size: 13px;
}

h1.logo_title {
	
}

.floatLeft {
  float: left;
}
.floatRight{
  float: right;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.bold {
	font-weight: bold;
}
.m-r_5px {
	margin-right: 5px;
}

.margin_top_15px {
  margin-top: 15px;
}

.margin_bottom_20px {
  margin-bottom: 20px;
}

.red {
	background-color: #FCC !important;
}

.red_background {
	background-color: #990000;
	color: #ffffff;
}
.white_color {
	color: #FFFFFF;
}

.m_top_5px {
	margin-top: 10px;
}

.light_blue_background {
	background-color: #75D8FF;
}

/************ Table ************/

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 9px;
}

table thead {
  line-height: 20px;
  background: #e8e8e8 url("../images/back_header_table.jpg") repeat-x left top;
}

table thead th {
  text-align: left;
  padding: 0 10px 0 10px;
  border-left: 1px solid #d6d6d6;
  text-transform: capitalize;
  font-weight: bold;
  white-space: nowrap;
}
table thead th:first-child {
  border-left: none;
}

table tbody {
}
				
table tbody tr {
  height: 20px;
  background: #fff;
}

table tbody tr:nth-child(even) {
  background: #f7f7f7;
  height: 20px;
}

table tbody tr:nth-child(odd) {
  background: #FFFFFF;
  height: 20px;
}

table tbody tr input[type="submit"] {
	float:left;
	margin-right: 5px;
}

table td {
  text-align: left;
  padding: 0 10px 0 10px;
  vertical-align: middle;
}

table td.align-center {
	text-align: center;
}
table td.align-right {
  text-align: right;
}
table tfoot {
  border-top: 1px solid #ddd;
}

table tfoot td .bulk-actions {
  padding: 15px 0 5px 0;
}
table tfoot td {
  line-height: 20px;
}

table tfoot td .bulk-actions select {
  padding: 4px;
  border: 1px solid #ccc;
} 



table a {
  font-weight: bold;
  color: #211F1E;
  text-decoration: none;
}
section#yieldContent {
  padding: 40px 40px;
}
nav.pagination {
  float: right;
  padding: 15px 0 5px;
}
input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
}


/*** Filter Box**/
section.new_page {
	page-break-after:always;
}
section.filter_box {
	margin-bottom: 20px;
}
section.filter_box header.filter_box_header {
  background: url("back_h2_box_white.jpg") repeat-x scroll left top #ECECEC;
  border: 1px solid #D8D8D8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #4D7D18;
  /*font-size: 14px;*/
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0 10px 0 10px;
}

section.filter_box header.filter_box_header h4 {
	color: #666;
}

section.filter_box section.filter_box_content {
  background: none repeat scroll 0 0 white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  /*padding: 10px;*/
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #999;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}
