<ul class="breadcrumb">
  <li>
    <a href="/"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="#"><i class="icon-cog"></i> Verwaltung</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/categories">Kategorie</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="<%= edit_category_path(@category) %>"><%= @category.id %></a>
  </li>
</ul>

<div class="page-header">
  <h1>Kategorie bearbeiten</h1>
</div>

<%= render 'form' %>
