<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Kategorie</li>
  </ul>
<% end %>

<div class="page-header">
    <h1 class="pull-left">Kategorie</h1>
    <div class="btn-toolbar pull-right">
    
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= new_category_path() %>">Neue Kategorie</a>
      </div>
      
    </div>
    <div class="clear"></div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Kategorie</th>
      <th>Verbindung</th>
      <th>Erstellt am</th>
      <th>Editiert am</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
