<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
          <%= link_to "http://rubyonrails.org/" do %>
            Fraefel App - A ruby on Rails application
          <% end %>
        </li>
        <li>
          <a href="#" data-toggle="scroll-top">Scroll Top</a>
        </li>
      </ul>
    </div>
  </div>
</div>
